@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import '~antd/dist/antd.css';

* {
  font-family: 'Roboto', sans-serif;
}
/* html,
body,
#root {
    height: 100%;
    overflow: auto;
} */

body {
    overflow-y: scroll;
}

.contentContainer {
    min-height: 20rem;
}