@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import '~antd/dist/antd.css';

/* * {
  font-family: 'Roboto', sans-serif;
} */
html,
body,
#root {
    height: 100%;
}

.slide-in {
    animation: moveFromRight 0.4s ease both;
}

@keyframes moveFromRight {
    from { transform: translateX(100%); }
}

@keyframes moveToRight {
    to { transform: translateX(100%); }
}